.editor{
	background: #f0f3f5;

}
.editor_head{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	background: rgb(9,9,121);
	padding:1rem;
	padding-right: 2rem;
	padding-left: 2rem;
	background: linear-gradient(90deg, rgba(9,9,121,1) 7%, rgba(0,151,255,1) 100%);

}

.editor_head_comp{
	color: #fff;
	display: flex;
	flex-direction: row;
	align-items: center;
	cursor: pointer;
}

.editor_head_comp>a{
	font-size: 1rem;
	cursor: pointer;
	font-weight: bold;
}
.editor_head_comp>a:hover{
	color: #dddd;
}



.editor_head_comp>img{
	width:40px;
	cursor: pointer;
	margin: 0px 10px 0px 10px;
}


.editor_head>h2{
	font-size:1.5rem;
	color: #fff;
	font-weight: 600;
}


.editor_grid{
	
	display: flex;
	flex-direction:row;
	grid-template-columns: 1fr 3fr 6fr ;
	
}

.left_div_icon_list{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top:2rem;
	background:#444;
	padding:1rem;
}
.left_div_icon_list>img{
	width:20px;
	background:#666;
	padding:0.8rem;
	cursor: pointer;
	margin-bottom: 2rem;
}
.left_div_icon_list>img:hover{
	background: #777;
}

.middle_div_icon_list{
	width: 30vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top:2rem;
	background:#222;
	padding:1.5rem;
	
	overflow-y: scroll;
	overflow-x: hidden;
}

.middle_div_icon_list>img{
	width: 100%;
	margin-bottom: 2rem;
	cursor: pointer;
	outline: 0;

}

.border_black{
	border: 5px solid #0000;
}

.border_blue{
	border: 5px solid #2e81f5;
}

.editor_white_board{
	margin: 2rem;
	width: 80ch;
	height: 40ch;
	background: #fff;
	box-shadow: -8px -1px 79px 0px rgba(0,0,0,0.51);
	-webkit-box-shadow: -8px -1px 79px 0px rgba(0,0,0,0.51);
	-moz-box-shadow: -8px -1px 79px 0px rgba(0,0,0,0.51);
}

.upload_input{
	display: flex;
	flex-direction: column;
	font-size: 0.8rem;
	color: #fff;
}

.upload_input>label{
	margin-bottom: 10px;
}
.upload_input>input::before {
  
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  
  cursor: pointer;
  font-weight: 700;
  
}
.upload_input>input:hover::before {
  border-color:#444;
}
.upload_input>input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.stu_list{
	color: #fff;
	font-size: 10pt;
	margin-top: 16px;
}

.stu_list_comp{
	word-break: break-all;
	background: #444;
	margin-bottom: 16px;
	padding: 5px 8px;
	cursor: pointer;
}

.input_comp{
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
	color: #fff;
}

.input_comp>label{
	
}

.input_comp>input{
	margin-top: 10px;
	padding: 5px 8px;
}




/*************Certificate 0 *****/
.certificate{

	height: 100%;
	width: 100%;
	display: flex;
	justify-content: space-around;
	text-align: center;
	flex-direction: column;
	background:url("../../assets/bg1.png");
	background-repeat:no-repeat;
	background-size: contain;
	background-position:left;
}
.cert_head>h2{
	font-style: italic;
}

.cert_main>h2{
}


.cert_main>p{
	color: #666;
}
.cert_sign>img{
	width: 150px;
}


.cert_head>h2>mark{
	background: #fff;
	color:darkred;
}

/*************Certificate 0 *****/
.certificate{

	height: 100%;
	width: 100%;
	display: flex;
	justify-content: space-around;
	text-align: center;
	flex-direction: column;
	background:url("../../assets/bg1.png");
	background-repeat:no-repeat;
	background-size: contain;
	background-position:left;
}
.cert_head>h2{
	font-style: italic;
}

.cert_head{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.cert_head>h1{
	width: 60%;
}

.cert_main{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.cert_main>p{
	color: #666;
	width: 60%;
}
.cert_sign>img{
	width: 150px;
}


.cert_head>h2>mark{
	background: #fff;
	color:darkred;
}


/*************Certificate 0 *****/
.certificate{

	height: 100%;
	width: 100%;
	display: flex;
	justify-content: space-around;
	text-align: center;
	flex-direction: column;
	background:url("../../assets/bg0.png");
	background-repeat:no-repeat;
	background-size: contain;
	background-position:left;
}
.cert_head>h2{
	font-style: italic;
}

.cert_main>h2{
}


.cert_main>p{
	color: #666;
}
.cert_sign>img{
	width: 150px;
}


.cert_head>h2>mark{
	background: #fff;
	color:darkred;
}

/*************Certificate 1*****/
.certificate1{

	height: 100%;
	width: 100%;
	display: flex;
	justify-content: space-around;
	text-align: center;
	flex-direction: column;
	background:url("../../assets/bg1.png");
	background-repeat:no-repeat;
	background-size: contain;
	background-position:left;
}
.cert_head1>h2{
	font-style: italic;
}

.cert_head1{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.cert_head1>h1{
	width: 60%;
}

.cert_main1{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.cert_main1>p{
	color: #666;
	width: 60%;
}
.cert_sign1>img{
	width: 150px;
}


.cert_head1>h2>mark{
	background: #fff;
	color:darkred;
}

/*************Certificate 2*****/
.certificate2{

	height: 100%;
	width: 100%;
	display: flex;
	justify-content: space-around;
	text-align: center;
	flex-direction: column;
	background:url("../../assets/bg2.png");
	background-repeat:no-repeat;
	background-size: contain;
	background-position:left;
}
.cert_head2>h2{
	font-style: italic;
}

.cert_head2{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.cert_head2>h1{
	width: 60%;
}

.cert_main2{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.cert_main2>p{
	color: #666;
	width: 60%;
}
.cert_sign2>img{
	width: 150px;
}


.cert_head2>h2>mark{
	background: #fff;
	color:darkred;
}
